In [639]:
#ANALYSIS
#1) Most riders are done in an Urban City
#2) Average fare is $26
#3) Total fare is

In [640]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn

In [641]:
#import city csv
csv_path = "../MatPlotLib/city_data.csv"
city_df = pd.read_csv(csv_path)
city_df.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [642]:
#import ride csv
csv_path = "../MatPlotLib/ride_data.csv"
ride_df = pd.read_csv(csv_path)
ride_df.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [643]:
#merge ride and city dfs
merged_df=pd.merge(ride_df, city_df, on="city")
merged_df.head()

       city                 date   fare        ride_id  driver_count   type
0  Sarabury  2016-01-16 13:49:27  38.35  5403689035038            46  Urban
1  Sarabury  2016-07-23 07:42:44  21.76  7546681945283            46  Urban
2  Sarabury  2016-04-02 04:32:25  38.03  4932495851866            46  Urban
3  Sarabury  2016-06-23 05:03:41  26.82  6711035373406            46  Urban
4  Sarabury  2016-09-30 12:48:34  30.30  6388737278232            46  Urban

In [644]:
#Bubble Plot Calculations
CityGroup= ride_df.groupby('city')
RideGroup = city_df.groupby('type')

AvgFare = CityGroup.mean()["fare"].rename("Average Fare Per City")
RideCityTotal = CityGroup['ride_id'].count().rename("Total Number of Rides Per City")
DriversCityTotal = city_df
CityType = city_df["type"].value_counts()
TotalFare = ride_df["fare"].sum()
TF= len(merged_df)

In [645]:
#Avg fare per city
AvgFare = CityGroup.mean()["fare"].rename("Average Fare Per City")
AvgFare.reset_index().head()

           city  Average Fare Per City
0  Alvarezhaven              23.928710
1    Alyssaberg              20.609615
2    Anitamouth              37.315556
3  Antoniomouth              23.625000
4  Aprilchester              21.981579

In [646]:
TF

2407

In [647]:
#total # of rides per city
RideCityTotal = CityGroup['ride_id'].count().rename("Total Number of Rides Per City")
RideCityTotal.reset_index().head()

           city  Total Number of Rides Per City
0  Alvarezhaven                              31
1    Alyssaberg                              26
2    Anitamouth                               9
3  Antoniomouth                              22
4  Aprilchester                              19

In [648]:
#total # drivers per city
DriversCityTotal = city_df
DriversCityTotal.reset_index().head()

   index            city  driver_count   type
0      0      Kelseyland            63  Urban
1      1      Nguyenbury             8  Urban
2      2    East Douglas            12  Urban
3      3   West Dawnfurt            34  Urban
4      4  Rodriguezburgh            52  Urban

In [649]:
#City Type
CityType = city_df["type"].value_counts()
CityType.reset_index().head()

      index  type
0     Urban    66
1  Suburban    42
2     Rural    18

In [650]:
#City Type Pie Chart
#FareByType = ride_df["fare"].sum()
FareCityType = merged_df['type','fare'].groupby("type").count()
FareCityType['Percentage']=(FareCityType['fare']/totalFare*100)
#RideCityType = RideCityTotal / CityType * 100
RideCityType = ride_df[['ride_id','city'].groupby("type").count()
#DriverCityType = DriversCityTotal / CityType 
DriverCityType = city_df['type','driver_type'].groupby("type").sum()

SyntaxError: invalid syntax (<ipython-input-650-aaa60949f7d1>, line 7)

In [656]:
FareCityType

          city  date  fare  ride_id  driver_count
type
Rural      125   125   125      125           125
Suburban   657   657   657      657           657
Urban     1625  1625  1625     1625          1625

In [653]:
# % total fare by city type
PerTF= FareCityType / TF
PerTF

IndexError: invalid index to scalar variable.

In [651]:
# % total ride by city type
RideCityTotal = city_df['type'].count()
#.rename("Total Number of Rides Per City")
PerRG= RideCityTotal / TF
#merged_df= pd.merge(merged_df, RideCityTotal, how="outer")

PerRG

0.052347320315745745

In [ ]:
# % total drivers per city type
citydrivers= city_df[["type", "driver_count"]].groupby("type").sum()
citydrivers/ TF
citydrivers.reset_index()

#merge all dfs

merged_df = pd.merge(RideCityTotal, how="right", on="city")

merged_df.head()

In [ ]:
#merge all dfs

merged_df = pd.merge(RideCityTotal, how='right', on="city")

merged_df.head()

In [ ]:
#Bubble Plot
plt.title("Pyber Data")
plt.xlabel("Total Number of Rides (Per City)")
plt.ylabel("Average Fare $")

plt.scatter(RideCityTotal, AvgFare, s=z*50, marker="o", facecolors= ["gold"], edgecolors="black")
#plt.ylim (1,100)
#plt.xlim(1,50)
plt.show()

In [ ]:
x= plt.scatter(urban)
y= AvgFare
z= DriverCityType

In [ ]:
#plt.scatter(x, y, s=z*100)
#plt.show()
#plt.scatter(x, y, s=z*500, alpha=0.5)
#plt.show()

In [ ]:
urban = merged_df.loc[merged_df["type"] == "Urban"]
suburban = merged_df.loc[merged_df["type"] == "Suburban"]
rural= merged_df.loc[merged_df["type"] == "Rural"]
urban.head()

In [ ]:
plt.legend((x,y,z), ('Urban', 'Suburban', 'Rural'), loc= 'upper right')

In [ ]:
x=plt.scatter (city_df['type'].count(), urban['fare'],s= urban['driver_count'], c='gold')
y=plt.scatter(city_df['type'].count(), suburban['fare'],s= suburban['driver_count'], c='coral')
z=plt.scatter(city_df['type'].count(), rural['fare'],s= rural['driver_count'], c='light blue')
plt.show()

In [ ]:
#PIE CHARTS
# % of Total Fares by City Type
type= ["Urban", "Suburban", "Rural"]
fare= 
plt.FareCityType("type", "fare", explode=explode, labels=type, color=colors)

In [657]:
labels = FareCityType['type']
sizes = FareCityType ['percentage']

Colors= ["gold", "coral", "lightblue"]
explode =(.3,.1,0)
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=100)
plt.show()

KeyError: 'type'

In [658]:
#Ride City Total
labels = RideCityTotal['type'] 
sizes = RideCityTotal['percent']
Colors= ["gold", "coral", "lightblue"]
explode =(.3,.1,0)
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=100)
plt.axis("equal")
plt.show()

IndexError: invalid index to scalar variable.

In [659]:
# Riders by city type
labels = RideCityType['type'] 
sizes = RideCityType['percent']
Colors= ["gold", "coral", "lightblue"]
explode =(.3,.1,0)
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=100)
plt.axis("equal")
plt.show()

KeyError: 'type'

In [ ]:
#Drivers by city type
labels = DriverCityType['type'] 
sizes = DriverCityType['percent']
Colors= ["gold", "coral", "lightblue"]
explode =(.3,.1,0)
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=100)
plt.axis("equal")
plt.show()